<!DOCTYPE >
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/indexGe.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/cards.css}">
	<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

<div class="header">
  <a href="/manager" class="logo"><img src="/assets/img/logo.png" width="130"></a>
  <div class="header-right">
  	<a class="hed" th:href="@{/manager}">Home</a>
  	<a class="hed" th:href="@{/palestra/nova}">Nova Palestra</a>
    <a class="hed" th:href="@{/palestrante/novo}">Novo Palestrante</a>
      <a href="#" id="myBtn" class="sair">Logout </a>
  
 
    
  </div>
</div>



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1 class="h1-modal">Tem certeza que você quer sair?</h1>
    <div class="buts"><a href="/logout" id="yes"  class="but-s">Sim</a><a href="/palestra/nova" id="no"  class="but-s">Não</a></div>
  </div>

</div>


	<form id="cadPalestra" class="log" th:action="@{/activitySave}" th:object="${activity}" method="post">

       	<h1 class="h1">Cadastro De Palestras</h1>

		
        <input type="hidden" placeholder="Nome do evento" th:field="*{id}"><br><br>

		<label>Nome</label><br>
        <input type="text" placeholder="Nome do evento" th:field="*{nameEvent}"><br><br>

        <label>Vagas</label><br>
        <input type="text" th:field="*{amountVacancies}"><br><br>
        
        <label>Descrição</label>
        <textarea rows="4" cols="12" th:field="*{description}"></textarea><br><br>
        
        <select th:field="*{speaker}" id="palestrante">
        	<option th:each="list : ${speakers}" th:value="${list.name}" th:text="${list.name}"></option>
        </select><br><br>
        
        <select th:field="*{room}" id="sala">
        	<option th:each="list : ${rooms}" th:value="${list.nome}" th:text="${list.nome}"></option>
        </select><br><br>
        
        <label>Horario de inicio</label>
        <input type="time" th:field="*{timeIni}" id="timeIni"><br><br>
        
        <label>Horário do Fim</label>
        <input type="time" th:field="*{timeFim}" id="timeFim"><br><br>
        
        
            
        <br><button class="but" type="submit">Enviar</button>
     </form>
     <script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
<footer class="footer">
 © Todos os Direitos reservados! 
</footer>
</body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
		
	
    <script src="/assets/js/validacoesforms.js"></script>
</html>