<!DOCTYPE >
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/assets/css/indexlo.css">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/indexGe.css}">
	<link rel="stylesheet" type="text/css" href="/assets/css/frameWorks/style.css">
	<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
<body>

<div class="header">
  <a href="/manager" class="logo"><img src="/assets/img/logo.png" width="130"></a>
  <div class="header-right">
  	<a class="hed" th:href="@{/manager}">Home</a>
  	<a class="hed" th:href="@{/palestra/nova}">Nova Palestra</a>
    <a class="hed" th:href="@{/palestrante/novo}">Novo Palestrante</a>
      <a href="#" id="myBtn" class="sair">Logout </a>
  
 
    
  </div>
</div>
<div class="container-ge">
<div class="row">
	<div class="col">
	<h1 class="h1-1ge">Seja Bem Vindo, <span th:text="${#authentication.principal.userModel.name}"	></span><br>
	<span class="span-ge">Agora você já pode cadastrar, editar, remover palestras e adicionar palestrantes.</span>
	</h1>
	
	</div>
</div>
</div>




<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1 class="h1-modal">Tem certeza que você quer sair?</h1>
    <div class="buts"><a href="/logout" id="yes"  class="but-s">Sim</a><a href="/manager" id="no"  class="but-s">Não</a></div>
  </div>

</div>



	<div class="container-fixed stacked-cards stacked-cards-fanOut">
			<h2 class="vai">Palestras Registradas</h2>
			<ul>
				<li th:each="list : ${activitys}" class="card">
					
					<p class="car-ph1">
						<span th:text="${list.nameEvent}"></span>
						<span id="status" th:if="${list.amountVacancies != 0}" class="on1">Disponivel</span>
						<span id="status" th:if="${list.amountVacancies == 0}" class="off1">Indisponivel</span>
					</p>
	                	
                	<p class="car-p">Palestrante :  <span th:text="${list.speaker}" class="car-p"></span></p>
                	
                	<p class="car-p">Vagas: <span th:text="${list.amountVacancies}"></span> </p>
                	
                	<p class="car-p">Sala: <span th:text="${list.room}"></span> </p>
                	
                	<p class="car-p">Descrição: <span th:text="${list.description}" ></span> </p>
                	
                	<p class="car-p">Horario: <span th:text="${list.timeIni}"></span> ás <span th:text="${list.timeFim}"></span></p>
                	
                	<div class="but-ex">
       <a th:href="@{/editePalestra/{cod}(cod=${list.id})}" class="ed"> Editar  </a>
       <a th:href="@{/deletePalestra/{cod}(cod=${list.id})}" class="ex">Excluir</a>
       </div>
				</li>
			</ul>
		</div>




<script>
$(document).ready(function(){	
	var stackedCard = new stackedCards({
	 	selector: '.stacked-cards',
	 	layout: "fanOut",
	 	transformOrigin: "bottom",
	});

	stackedCard.init();	

})
</script>
<script src='/assets/js/frameWorks/app.js'></script>
<script src="/assets/js/frameWorks/stackedCards.min.js"></script>

	<script>
		var stackedCardSlide = new stackedCards({
		 	selector: '.stacked-cards-slide',
		 	layout: "slide",
		 	transformOrigin: "center",
		 });

		stackedCardSlide.init();

		var stackedCardFanOut = new stackedCards({
		 	selector: '.stacked-cards-fanOut',
		 	layout: "fanOut",
		 	transformOrigin: "bottom",
		 });

		stackedCardFanOut.init();
	</script>
	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
		
	
    <script src="/assets/js/validacoesforms.js"></script>













<footer class="footer">
 © Todos os Direitos reservados! 
</footer>
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>







<script>
$(document).ready(function(){
	$(".cards__container").children().first().removeClass("box--hide");
	
	$("#tbn").click();
})
	
</script>
<script src='/assets/js/frameWorks/app.js'></script>
</html>