<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>HOME MANAGER</h1>
	
	<form class="log" th:action="@{/emailSpeaker}" th:object="${speaker}" method="post">

       	<h1 class="h1-1">Enviar cadastro para os Gestores</h1>

		<label>Nome</label><br>
        <input type="text" placeholder="Nome" class="inp" th:field="*{speakName}"><br>

        <label>Email</label><br>
        <input type="email" placeholder="Email" class="inp" th:field="*{email}"><br>
            
        <br><button class="but" type="submit">Acessar</button>
     </form>
</body>
</html>