<!DOCTYPE >
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/indexGe.css}">
	<link rel="stylesheet" type="text/css" href="/assets/css/frameWorks/style.css">
	<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
<body>

<div class="header">
  <a href="/manager" class="logo"><img src="/assets/img/logo.png" width="130"></a>
  <div class="header-right">
  	<a class="hed" th:href="@{/manager}">Home</a>
  	<a class="hed" th:href="@{/palestra/nova}">Nova Palestra</a>
    <a class="hed" th:href="@{/palestrante/novo}">Novo Palestrante</a>
      <a href="#" id="myBtn" class="sair">Logout </a>
  
 
    
  </div>
</div>
<div class="container-ge">
<div class="row">
	<div class="col">
	<h1 class="h1-1ge">Seja Bem Vindo, <span th:text="${#authentication.principal.userModel.name}"></span><br>
	<span class="span-ge">Agora você já pode cadastrar, editar, remover palestras e adicionar palestrantes.</span>
	</h1>
	
	</div>
</div>
</div>




<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1 class="h1-modal">Tem certeza que você quer sair?</h1>
    <div class="buts"><a href="/logout" id="yes"  class="but-s">Sim</a><a href="/manager" id="no"  class="but-s">Não</a></div>
  </div>

</div>






<div class="container">
	
	<div id="caixa">
		<div class="button 1" onclick="shiftLeft()"><img src="https://image.ibb.co/mRsEb7/left_arrow.png" alt=""></div>
        <div class="cards-wrapper">
           <table border="1">
	    <tr>
	        <td>Nome</td>
	        <td>Palestrante</td>
	        <td>Nº Vagas</td>
	        <td>sala</td>
	        <td>Descrição</td>
	        <td>início</td>
	        <td>fim</td>
	        <td colspan="2">Ações</td>
	    </tr>
	    <tr th:each="list : ${activitys}">
	        <td th:text="${list.nameEvent}"></td>
	        <td th:text="${list.speaker}"></td>
	        <td th:text="${list.amountVacancies}"></td>
	        <td th:text="${list.room}"></td>
	        <td th:text="${list.description}"></td>
	        <td th:text="${list.timeIni}"></td> 
	        <td th:text="${list.timeFim}"></td>
	       
	        <td><a th:href="@{/editePalestra/{cod}(cod=${list.id})}">Editar</a></td>
	        <td><a th:href="@{/deletePalestra/{cod}(cod=${list.id})}">Delete</a></td>
	    </tr>
	</table> 
        </div>
        <div id="tbn" class="button 2" onclick="shiftRight()"><img src="https://image.ibb.co/dfPSw7/right_arrow.png" alt=""></div>
	</div>
</div>
 

<footer class="footer">
 © Todos os Direitos reservados! 
</footer>
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>







<script>
$(document).ready(function(){
	$(".cards__container").children().first().removeClass("box--hide");
	
	$("#tbn").click();
})
	
</script>
<script src='/assets/js/frameWorks/app.js'></script>
</html>