<!DOCTYPE >
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/indexGe.css}">
	<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

<div class="header">
  <a href="#default" class="logo"><img src="/assets/img/logo.png" width="180"></a>
  <div class="header-right">
    <a class="hed" th:href="@{/palestrante/novo}">Novo Palestrante</a>
     <span class="dropdown">
    <button class="dropbtn" id="active">Francisco
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
     
      <a href="#">Perfil</a>
      <a href="/logout">Logout</a>
    </div>
  </span> 
    
  </div>
</div>

<div class="container">
<div class="row">
  

  <div class="col"><h1 class="letre">Palestras Registradas</h1></div>
</div>


</div>



<div class="test">
<div class="container">
	<div class="row">
		<div class="col col-2 col-3">
			
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
    	
      <h1 class="card-h1">Banco de Dados <span class="card-span">Disponível</span> </h1><img class="pales" src="/assets/img/back.jpg" >
    </div>
    <div class="flip-card-back">
      <p>Palestrante : Diego Queiroz</p> 
     <br> <p>Vagas Disponíveis : 3</p> 
     <br> <p>Local da palestra : Lab 2</p>
     <br> <p>Bancos de dados são conjuntos de arquivos relacionados entre si com registros sobre pessoas, lugares ou coisas.</p><br>
     <br> <button class="but-1">Editar</button> <button class="but-2">Excluir</button>
    </div>
  </div>
</div>

		</div>
      <div class="col col-2 col-3">
      
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      
      <h1 class="card-h1">Front-end <span class="card-span">Disponível</span> </h1><img class="pales" src="/assets/img/front.png" >
    </div>
    <div class="flip-card-back">
      <p>Palestrante : Josino Rodrigues</p> 
     <br> <p>Vagas Disponíveis : 18</p> 
     <br> <p>Local da palestra : Lab 3</p>
     <br> <p>Descrição : Desenvolvimento web é o termo utilizado para descrever o desenvolvimento de sites, na Internet ou numa intranet.</p><br>
     <br> <button class="but-1">Editar</button> <button class="but-2">Excluir</button>
    </div>
  </div>
</div>

    </div>
      <div class="col col-2 col-3">
      
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      
      <h1 class="card-h1">I.H.C <span class="card-span">Disponível</span> </h1><img class="pales" src="/assets/img/ihc.jpg" >
    </div>
    <div class="flip-card-back">
      <p>Palestrante : Adriano José</p> 
     <br> <p>Vagas Disponíveis : 4</p> 
     <br> <p>Local da palestra : Lab 1</p>
     <br> <p>O IHC é o estudo da interação entre pessoas e computadores. É uma matéria interdisciplinar que relaciona a ciência da computação</p><br>
     <br> <button class="but-1">Editar</button> <button class="but-2">Excluir</button>
    </div>
  </div>
</div>

    </div>
     <div class="col col-2 col-3">
      
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      
      <h1 class="card-h1">Criação de Currículo <span class="card-span-esg">Esgotado</span> </h1><img class="pales" src="/assets/img/cu.jpg" >
    </div>
    <div class="flip-card-back">
      <p>Palestrante : Luciano Dantas</p> 
     <br> <p>Vagas Disponíveis : 0</p> 
     <br> <p>Local da palestra : sala 3</p>
     <br> <p>O curriculum , é um documento de tipo histórico, que relata a trajetória educacional e as experiências profissionais de uma pessoa</p><br>
     <br> <button class="but-1">Editar</button> <button class="but-2">Excluir</button>
    </div>
  </div>
</div>

    </div>
     <div class="col col-2 col-3">
      
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      
      <h1 class="card-h1">Inteligência Artificial <span class="card-span-esg">Esgotadao</span> </h1><img class="pales" src="/assets/img/ia.jpg" >
    </div>
    <div class="flip-card-back">
      <p>Palestrante : Adriano José</p> 
     <br> <p>Vagas Disponíveis : 4</p> 
     <br> <p>Local da palestra : Lab 1</p>
     <br> <p> pesquisa da Ciência da Computação que se ocupa em desenvolver mecanismos que possam simular o raciocínio humano</p><br>
     <br> <button class="but-1">Editar</button> <button class="but-2">Excluir</button>
    </div>
  </div>
</div>

    </div>
     <div class="col col-2 col-3">
      
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      
      <h1 class="card-h1">Analista em sistema<span class="card-span">Disponível</span> </h1><img class="pales" src="/assets/img/analista.jpg" >
    </div>
    <div class="flip-card-back">
      <p>Palestrante : Bruno Almeida</p> 
     <br> <p>Vagas Disponíveis : 20</p> 
     <br> <p>Local da palestra : Lab 2</p>
     <br> <p>é o profissional que planeja, organiza, controla e assessora<br> os sistemas webs<br></p><br>
     <br> <button class="but-1">Editar</button> <button class="but-2">Excluir</button>
    </div>
  </div>
</div>

    </div>
</div>
</div>


<footer class="footer">
 © Todos os Direitos reservados! TT'S EVENTS .
</footer>


</body>
</html>