* {box-sizing: border-box;}

body { background-color: #f1f1f1;
  margin: 0;


}

.header { 
  overflow: hidden;
  background-color: #43CD80;

}
.header a:hover{
  color: black;
}
.header a {transition: 0.5s;
  font-family: "play";
  padding:10px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  
 

}

.header a.logo {
 
  margin-left:40px;
}

.header-right {
    margin-top: 1.3%;

  margin-right: 20px;
  float: right;
}


@media screen and (max-width: 700px) {
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  margin-left:25px;

}

.header a {
  margin-bottom: 10px;
    float: none;
    display: block;
    text-align: center;
    
  }
  
  .header-right { margin-top: 0%;
    float: none;
    margin-left: 70px;
  }
  .dropbtn {
    text-align: center;
  }
}

#active{
  
  color: black;
}



/**/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* conteiner */
.container-ge {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
.container  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
    @media (min-width: 1170px) {
        .container {
            max-width: 1170px;
            padding: 0;
        }
    }

/* linha */
.row {
    margin-left: -5px;
    margin-right: -5px;
}
    .row:before,
    .row:after {
        content: "";
        display: table;
    }
    .row:after {
        clear: both;
    }

/* colunas */
.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
}
    /* duas colonas */
    @media (min-width: 480px) {
        .col-2 {
            width: 50%;
        }
    }

    /* tres colunas */
    @media (min-width: 728px) {
        .col-3 {
            width: 33.3333%;
            
        }
    }


    
.letre{
  margin-top: 2%;
  text-align :center;
  font-size: 40px;
  color: black;
  font-family: "lobster";

  position: relative;
}

.letre:before,
.letre:after {
  content: "";
  width: 35%;
  height: 1px;
  background: #555;
  position: absolute;
  top: 50%;
}
.letre:before {
  left: 0;
}
.letre:after {
  right: 0;
}

/*letreiro*/
.container-ge{height:30%;
	  background-image: url("teste1.png");
	  background-attachment: fixed;
	  background-repeat:no-repeat;
	  background-size:cover;
}

.h1-1ge{font-size:40px; 
margin-top:4%;
	  text-align :center;
	font-family:"lobster";
	color:white;
}
.span-ge{font-size:30px;
	color:white;
	font-family:"raleway";
}
 @media (max-width: 700px) {
       
.h1-1ge{font-size:40px; 


}
.span-ge{font-size:15px;
	
}
    }

label{
	font-family:"play"" ;
}
/**/

.vai {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.vai:before, .vai:after {
  background-color: #ddd;
  content: '\a0';
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.5em;
}
.vai:before {
  margin-right:10px;
}
.vai:after {
  margin-left:10px;
}
.vai{
	font-family:"play";
	font-size:40px;
}

.on1{
	font-size:10px;
	background-color:green;
}

.car-ph1{
	font-family:"Play";
	font-size:30px;
	color:white;

}


.car-p{
	font-size:15px;
	color:white;
	border-bottom:1px solid white;

}

@media (max-width: 700px) {
       
.car-ph1{
	font-size:20px;
	color:white;

}.car-p{
	font-size:12px;
	color:white;

}


    }



.but-ex{
	margin-top:30px;
}
.ed{margin-left:12%;
padding:14px;
	text-decoration:none;
	background-color:blue;
	color:white;
}
.ex{margin-left:20%;
padding:14px;
	text-decoration:none;
	background-color:red;
	color:white;
}


@media (max-width: 700px) {
       
.but-ex{
	margin-top:5px;
}
.ed{margin-left:8%;
padding:4px;
	text-decoration:none;
	background-color:blue;
	color:white;
}
.ex{margin-left:1%;
padding:4px;
	text-decoration:none;
	background-color:red;
	color:white;
}

    }

/*modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius:10px;
}
@media (max-width: 700px) {
       
.modal-content {
	 width: 80%;
}
    }


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.h1-modal{
	text-align:center;
	font-family:"play";
	
}
.buts{display: flex;
  align-items: center;
  justify-content: center;
}
.but-s{
	font-size:20px;
	font-family:"play";
	padding:20px;
	text-align:center;
	text-decoration:none;
	width:100px;
	color:black;
	margin:10px;
	border-radius:4px;
	
}

#yes{
	background-color:#54FF9F;
}
#no{
	background-color:#FF4040;
}

/*modal*/





/* cadastrar palestrante*/
.h3-1{
  font-family: "raleway";
}



.h1-pa{
  font-family: "lobster";
  font-size:40px;
 
}




.but2{
position:relative;


	margin-top:2%;
}

	
.form-contact-input-int-tra{
	width: 20%;
  color: #292929;
  font-size: 18px;
  background-color: white;
  border: 1px solid #E9E9E9;
    font-family: "Play";
  height: 30px;
  border-radius: 4px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.form-contact-txt-int-tra{
	width: 20%;
  color: #292929;
  font-size: 18px;
  background-color: white;
  border: 1px solid #E9E9E9;
    font-family: "Play";
  height: 60px;
  border-radius: 4px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}


.form-contact-input-int {

  width: 40%;
  color: #292929;
  font-size: 18px;
  background-color: white;
  border: 1px solid #E9E9E9;
    font-family: "Play";
  height: 30px;
  border-radius: 4px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  
}

select{
	width:20%;
height: 40px;
}

.form-contact-button {
  background-color: #43CD80;
  font-family: "Play";
  width: 20%;
  font-size: 18px;
  border-radius: 4px;
  color: black;
  height: 40px;
  opacity: .8;
  margin-top: 20px;
  cursor: pointer;

  display: block;
  border: none;
  border-bottom: 1px solid #500707;
  border-right: 1px solid #500707;
  transition: 1s;
}


/*cadastrar palestra*/
.h1-cp{
	font-family:"play";
}



/**/






/*Footer*/

footer {width: 100%;
    position: fixed;
    bottom:0;
    left:0;
}.footer {text-align: center;
  background-color: #696969;
  font-family: "Raleway";
  font-size: 14px;
  color: black;
  padding: 10px;
}
