<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<a href="/logout">Sair</a>
	<h1 class="h1-1">Lista de Gestores</h1>
	<label>Manages</label>
	<table border="1">
	    <tr>
	        <td>Nome</td>
	        <td>Email</td>
	        <td>Hash-Code</td>
	        <td>Actions</td>
	    </tr>
	    <tr th:each="list : ${listManager}">
	        <td th:text="${list.name}"></td>
	        <td th:text="${list.email}"></td>
	        <td th:text="${list.password}"></td>
	        <td><a th:href="|/deleteM/${list.idManager}|">Delete</a></td>
	    </tr>
	</table>
	
	<br>
	<br>
	
	<form class="log" th:action="@{/emailManager}" th:object="${manager}" method="post">

       	<h1 class="h1-1">Cadastrar Gestor</h1>

		<label>Nome</label><br>
        <input type="text" placeholder="Nome" class="inp" th:field="*{name}"><br>

        <label>Email</label><br>
        <input type="email" placeholder="Email" class="inp" th:field="*{email}"><br>
            
            <select th:field="*{groups}">
            	<option th:each="list : ${groups}" th:value="${list.id}" th:text="${list.nome}"></option>
            </select>
            
            
        <br><button class="but" type="submit">Acessar</button>
     </form>
</body>
</html>