<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body> 

	<table>
    <thead>
        <tr>
            <th> ID </th>
            <th> NOME </th>
            <th> EMAIL </th>
            <th> CPF </th>
            <th> SENHA </th>
        </tr>
    </thead>
    
     <tr th:each="participant : ${participant}">
            <td><span th:text="${participant.idParticipant}"> </span></td>
            <td><span th:text="${participant.nomeParticipant}"></span></td>
             <td><span th:text="${participant.emailParticipant}"> </span></td>
              <td><span th:text="${participant.cpfParticipant}"> </span></td>
               <td><span th:text="${participant.senhaParticipant}"> </span> </td>
        </tr>
    
</table>
</body>
</html>