<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/saveParticipant}" th:object="${participant}" method="post">

	 
	  Nome:<br>
	  <input type="text" th:field="*{nomeParticipant}">
	  <br>
	  
	  CPF:<br>
	  <input type="text" th:field="*{cpfParticipant}">
	  <br>
	  
	  Email:<br>
	  <input type="email" th:field="*{emailParticipant}">
	  <br>
	  
	  Senha:<br>
	  <input type="password" th:field="*{senhaParticipant}">
	  <br><br>
	  <button type="submit" >Enviar</button>
	</form>
</body>
</html>