<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link rel="stylesheet" type="text/css" href="/assets/css/indexlo.css">
  <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://cdn.jsdelivr.net/highlight.js/9.9.0/highlight.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>	
  <script>hljs.initHighlightingOnLoad();</script>

	<title>Home</title>
	
</head>
<body><div class="header">
  <a href="/user" class="logo"><img src="/assets/img/logo.png" width="120"></a>
  <div class="header-right">
  	<a href="/user">Home</a>
   	<a th:href="@{/palestra/}+${#authentication.principal.userModel.id}">Minhas Inscrições</a>
     <span class="dropdown">
    <button class="dropbtn" id="active" th:text="${#authentication.principal.userModel.name}">

    </button>
    <div class="dropdown-content">
     
      <a href="#">Perfil</a>
      <a href="/logout">Logout</a>
    </div>
  </span> 
    
  </div>
</div>
<div class="let">
	<h1 class="h1-1">
			Obrigado por se juntar, <span th:text="${#authentication.principal.userModel.name}"></span>.<br>
      Agora só basta escolher a palestra ideal para você!
	</h1>
	<span th:text="${mensagemErro}"></span>

</div>

	<div class="container-fixed stacked-cards stacked-cards-fanOut">
			<h2>Palestras</h2>
			<ul>
				<li th:each="list : ${activitys}" class="card"	>
					
					<p class="front">
						<span th:text="${list.nameEvent}"></span>
						<span id="status" th:if="${list.amountVacancies != 0}" class="on">Disponivel</span>
						<span id="status" th:if="${list.amountVacancies == 0}" class="off">Indisponivel</span>
					</p>
	                	
                	<p th:text="${list.speaker}" class="front-1"></p>
                	
                	<p class="front-2">Vagas: <span th:text="${list.amountVacancies}"></span> </p>
                	
                	<p class="front-2">Sala: <span th:text="${list.room}"></span> </p>
                	
                	<p class="front-3">Descrição: <span th:text="${list.description}" ></span> </p>
                	
                	<p class="front-3">Horario: <span th:text="${list.timeIni}"></span> ás <span th:text="${list.timeFim}"></span></p>
                	
                	
                	<form id="formregister" th:action="@{/inscricao}" th:object="${registrations}" method="post">
                		<select th:field="*{activity}" style="opacity: 0;">
                			<option  selected th:value="${list.id}" th:text="${list.id}"></option>
                		</select>
                		
                		<select th:field="*{user}" id="idUser" style="opacity: 0;">
                			<option selected th:value="${#authentication.principal.userModel.id}" th:text="${#authentication.principal.userModel.id}"></option>
                		</select>
                		
                		<select th:field="*{timeIniActivy}" id="timeIni" style="opacity: 0;">
                			<option selected th:value="${list.timeIni}" th:text="${list.timeIni}"></option>
                		</select>
                		
                		<button th:if="${list.amountVacancies} != 0" type="submit" id="button" class="pres submit">Inscrever-se</button>
                	</form>
				</li>
			</ul>
		</div>

<footer class="footer">
 © Todos os Direitos reservados! TT'S EVENTS .
</footer>

</body>
<script>
$(document).ready(function(){	
	var stackedCard = new stackedCards({
	 	selector: '.stacked-cards',
	 	layout: "fanOut",
	 	transformOrigin: "bottom",
	});

	stackedCard.init();	

})
</script>
<script src='/assets/js/frameWorks/app.js'></script>
<script src="/assets/js/frameWorks/stackedCards.min.js"></script>

	<script>
		var stackedCardSlide = new stackedCards({
		 	selector: '.stacked-cards-slide',
		 	layout: "slide",
		 	transformOrigin: "center",
		 });

		stackedCardSlide.init();

		var stackedCardFanOut = new stackedCards({
		 	selector: '.stacked-cards-fanOut',
		 	layout: "fanOut",
		 	transformOrigin: "bottom",
		 });

		stackedCardFanOut.init();
	</script>
	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
		
	
    <script src="/assets/js/validacoesforms.js"></script>
</html>