<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">

<head>
	     	<link rel="stylesheet" type="text/css" th:href="@{assets/css/cadastro.css}">
	        <link rel="stylesheet" type="text/css"  th:href="@{assets/css/index.css}">
    		<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
  			<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
   			 <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">


    <title>Cadastro</title>
</head>

<body>
<div class="header">
  <a href="#default" class="logo"><img src="logo.png" width="180"></a>
  <div class="header-right">
    <a class="hed" href="#">Os melhores eventos para você</a>
   
  </div>
</div>


    



    <div class="container">
        <div class="row">

            <div class="col col-2">
                <div class="cont cont-2 cont-3">




                    <h1 class="h1-2">O Primeiro passo foi dado...</h1>
                   
                    <h3 class="h3-1">Em poucos minutos você estará usufruindo dos melhores workshops de tecnologia, apenas cadastre-se! </h3>






</div>




                </div>
                <div class="col col-2 ">
                           <div class="cont">
  					<form class="log" th:action="@{/emailUser}" th:object="${usuario}" method="post">

                        	<h1 class="h1-1">Cadastre-se</h1>

                        	<label for="nome">Nome</label><br>
                       		<input type="text" name="nome" placeholder="Nome" class="inp" th:field="*{name}"><br>
                            <br><label class="sen" for="CPF">CPF</label><br>
                        
                            <input type="text" name="password" placeholder="cpf" class="inp" th:field="*{cpf}"><br><br>
                            <label for="email">Email</label><br>
                       		<input type="email" name="email" placeholder="Email" class="inp" th:field="*{email}"><br>
                            <br><label class="sen" for="senha">Senha</label><br>
                        
                            <input type="password" name="password" placeholder="senha" class="inp" th:field="*{password}"><br><br>
                            
                            <label class="sen" for="senha">Confirme sua senha</label><br>
                            <input type="password" name="password" placeholder="Confirme sua senha" class="inp" th:field="*{password}"><br><br>
                            
                            <select th:field="*{groups}" style="opacity: 0">
				            	<option th:value="${groups.id}" th:text="${groups.nome}"></option>
				            </select>
                            
                            <br><button class="but" type="submit">Se Cadastrar</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
<footer class="footer">
  Footer 
</footer>


</body>

</html>