<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Seja Bem vindo</title>
</head>
<body>
<a th:href="@{/logout}">Sair</a>
<br>

  <h1>Bem vindo ao sistema -</h1> <p th:text="${#authentication.principal.userModel.name}">Usuário</p>
  <hr> <br>
  
  <form>
      <label>Email do gestor</label>
      <input type="email">
      <br><br>
      
      <label>Informe o grupo</label>
      <input type="checkbox">
  </form>
  
  
</body>
</html>