<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	               xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/index.css}">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <title>Login</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- CDN das Mensagens -->
  	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  
  	<script>
        $(document).ready(function(){
            $('#signUp').click(function(){
                $('#container1').addClass("right-panel-active");
            });

            $('#signIn').click(function(){
                $('#container1').removeClass("right-panel-active");
            });
            
                  
            
            toastr.options = {
            	"closeButton": true,
           		"debug": false,
           		"newestOnTop": false,
           		"progressBar": true,
           		"positionClass": "toast-bottom-left",
           		"preventDuplicates": true,
           		"onclick": null,
           		"showDuration": "200",
           		"hideDuration": "1000",
           		"timeOut": "7000",
           		"extendedTimeOut": "10000",
           		"showEasing": "swing",
           		"hideEasing": "linear",
           		"showMethod": "fadeIn",
           		"hideMethod": "fadeOut"
        	}
            
            	
            var t = $("#mensagemErro").text();
            
            switch(t){
            case "1":
            	toastr.error("Usuario não encontrado!");
            	break;
            case "2":
            	toastr.info("Verifique seu email e confirme sua conta!");
            	break;
            case "3":
            	toastr.warning("Acesso negado");
            	break;
            }
        });
  	</script>
</head>

<body>


    



    <div class="container">
        <div class="row">

            <div class="col col-2">
                <div class="cont cont-2 cont-3">
                    <h1 class="h1-2">Semana da Tecnologia</h1>
                   
                    <h3 class="h3-1">Vai começar a semana da tecnologia do IFPE campus jaboatão, participarão vários palestrantes, com um único intuito, seu crescimento profissional na área da tecnologia  </h3>
</div>
                </div>
                <div class="col col-2 ">
                           <div class="cont">
                           
  					<form class="log" th:action="@{/login}"  method="post">

                        <h1 class="h1-1">Entrar</h1>

                          <!-- th:if="${#bools.isTrue(param.error)}" verifica se na url existe o parametro ?error -->

						   <div th:if="${#bools.isTrue(param.error)}">
                               O email e/ou senha não conferem 
                           </div>

                        <label for="email">Email</label><br>
                       <input type="text" placeholder="Email" class="inp" name="username"  autofocus="autofocus"><br>
                            <br><label class="sen" for="senha">Senha</label><br>
                        
                            <input type="password" placeholder="senha" class="inp" name="password"><br><br>
                           
                            <a class="a-1" href="">Ainda não cadastrado ? Cadastre-se!</a><br>
                            <a class="a-1" href="">Esqueci minha Senha</a>
                            <br><button class="but" type="submit">Acessar</button>
                             <span id="mensagemErro"  hidden></span>
                    </form>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>